@{
    ViewData["Title"] = "Want funny IG Reels?";
}

<div class="text-center">
    <h1 class="display-4">Make your Instagram feed entertaining</h1>
    <p><br />I promise I have hobbies, but I was really trying to figure out what the world would really want from me<br /><br />
        
    I procrastinated coming up with an idea by watching my Instagram Reels feed.. and lemme tell you- they were TOP-NOTCH,<br>
    I laughed, I chuckled, I learned, I teared up, and laughed some more.<br /><br />
    It was then I realized "This is the perfect feed. People want this." and thus, my idea was born.</p>
    <p>The videos you get in your feed are based on an algorithm that note of the things you<br />
        have previously liked. I created a company where I watch reels on YOUR account,<br>
        training your algorithm with the perfect combination of humor, educational opportunities, inspiration<br>
        good music, satisfying content, and more.<br /></p>
   <p>Click <a asp-controller="Home" asp-action="Privacy">here</a> to see how much it would cost you.<br /></p>
</div>
